* {
    color: aqua;
    font-family : 'Times New Roman', Times, serif;
    height:50%;
    padding-top: 10%;
    padding-bottom: 10%;
    border: 10px rgb(10,10,10) "dashed";
}
p{
    background-color: pink;
}

.import{
    color : red;
    background-color: black;
}
.import .alter{
    background-color: white;
}
#TayTay{
    color: purple;
    background-color: white;
}